  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .left1{
    left: 49%;
  }

  .right1{
    left: 24%;
  }
  
  .content {
    width: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    background-color: #6a6969;
    height: 100vh;


    .avaria {
    width: 50%;
    margin: auto;

    h1{
        position: absolute;
        top: 10%;
        left: 42%;
        padding: 5% 0 0 3.5% ;
        margin: auto;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 14%;
        border-radius: 160mm;
        height: 28vh;
        background-color: red;

    }

    .chevrolet {
    position: absolute;
    top: 71%;
    right: 70%;
    width: 25%;
    border-radius: 8mm;
    }

    .range {
    position: absolute;
    width: 25%;
    border-radius: 8mm;
    right: 5%;
    top: 67%;
  }
}
.balaeli{
  position: absolute;
  transform: translateX(-50%) scale(0);
  transition: 1s;
  top: 68%;
  left: 62%;
  width: 40px;
}

.balaeli-start{
  transform: translateX(-50%) scale(1);
  bottom: 0;
}
}