* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* dkjndjfndhfjdbh */


/* lmkmdkmkdv */
body{
    position: relative;
    height: 100vh;
}

#gamearea{
    position: relative;
    z-index: 5;
}

.salt{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 5;
    top: 0;
}

.salt.hidden{
    display: none;
}

.addsalt{
    background-color: aqua;
    width: 100px;
    height: 100px;
}

#area .addsalt {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    transform: translate(-50%, -50%);
}


.mycontainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#area {
    width: 600px;
    height: 600px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    background-image: url('/img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}

#area .pomidor {
    width: 100px;
    height: 100px;
    background-image: url('/img/pomidor.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#area .zeytun {
    width: 100px;
    height: 100px;
    background-image: url('/img/output-onlinepngtools.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#area .biberyasil {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('/img/biberyasil.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#area .biberqirmizi {
    width: 100px;
    height: 100px;
    background-image: url('/img/biberqirmizi.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#area .gobelek {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('/img/gobelek.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#area .ananas {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('/img/ananas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#area .sogan {
    width: 100px;
    height: 100px;
    background-image: url('/img/sogantek.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#area .sarimsaq {
    width: 100px;
    height: 100px;
    background-image: url('/img/sarimsaqbas.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

#place {
    width: 40%;
    margin: 10px;
}

#place .pomidor {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/pomidor\ tam.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#place .zeytun {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/zeytuntam.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
}

#place .biberyasil {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/yasilbiber.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

#place .biberqirmizi {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/qirmizibiber.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#place .gobelek {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/gobelektam.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}

#place .ananas {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/ananastam.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}

#place .sogan {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/sogan.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}

#place .sarimsaq {
    border: 2px solid #fff;
    width: 25%;
    height: 100px;
    background-image: url('/img/sarimsaq.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}

#mobile-tab .pomidor {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: red;
}

#mobile-tab .zeytun {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: blue;
}

#mobile-tab .biberyasil {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: yellow;
}

#mobile-tab .biberqirmizi {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: green;
}

#mobile-tab .bibersari {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: cyan;
}

#mobile-tab .acibiber {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: red;
}

#mobile-tab .gobelek {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: blue;
}

#mobile-tab .ananas {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: yellow;
}

#mobile-tab .sogan {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: green;
}

#mobile-tab .sarimsaq {
    border: 2px solid #fff;
    width: 20%;
    height: 100px;
    background-color: cyan;
}

@media (max-width: 600px) {
    #place {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 20%;
    }

    .mycontainer {
        width: 100%;
        margin: auto;
    }

    #area {
        width: 400px;
        height: 400px;
        margin: 10px;
        border-radius: 100%;
        border: 2px solid #000;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #area .pomidor {
        width: 50px;
        height: 50px;
        background-color: red;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .zeytun {
        width: 50px;
        height: 50px;
        background-color: blue;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .biberyasil {
        width: 50px;
        height: 50px;
        background-color: green;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .biberqirmizi {
        width: 50px;
        height: 50px;
        background-color: cyan;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .bibersari {
        width: 50px;
        height: 50px;
        background-color: yellow;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .acibiber {
        width: 50px;
        height: 50px;
        background-color: red;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .gobelek {
        width: 50px;
        height: 50px;
        background-color: blue;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .ananas {
        width: 50px;
        height: 50px;
        background-color: green;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .sogan {
        width: 50px;
        height: 50px;
        background-color: cyan;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #area .sarimsaq {
        width: 50px;
        height: 50px;
        background-color: yellow;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}