*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
}

#header{
    .container{
        width: 98%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        .logo{
            width: 12%;
            img{
                width: 90%;
            }
        }
        
        .ulli{
            display: flex;
            width: 66%;
            margin-left: 10px;
            .home{
                ul{
                    display: none;
                    li{
                        p{
                   display: flex;         
                        }
                    }
                }
            }
            .link{
                ul{
                    display: none;
                    li{
                        p{
                   display: flex;         
                        }
                    }
                }
            }
            .dopdown{
                ul{
                    display: none;
                    li{
                        p{
                   display: flex;         
                        }
                    }
                }
            }
            .disabled{
                ul{
                    display: none;
                    li{
                        p{
                   display: flex;         
                        }
                    }
                }
            }
            li{
                list-style: none;
                p{
                    color: black;
                    margin: 10px;
                    display: inline-block;
                    text-decoration: none;
                }
            }
        }
        input{
            margin-top: 7px;
            height: 4vh;
            width: 14%;
            border: none;
            padding: 0 10px;
        }
        .aya{
            border: 1px solid blue;
            padding: 4px 10px;
            margin: 6px 10px;
            text-decoration: none;
            display: inline-block;
            height: 28px;
            &:hover{
                background-color: blue;
                color: white;
                transition: 0.5s;
            }
        }
    }
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }







@media (max-width: 576px){
    
    #header{
        position: relative;
        width: 100%;
        .container{
            display: flex;
            width: 98%;
            margin: auto;
            .logo{
                justify-content: center;
                width: 20%;
                img{
                    display: inline-block;
                    width: 100%;
                }
            }
            .ulli{
                transition: 0.5s;
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                margin: 0;
                background-color: rgb(75, 75, 210);
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                &.murad{
                    opacity: 1;
                    visibility: visible;
                }
                .home{
                    position: relative;
                    ul{
                        top: 100%;
                        left: 0;
                        position: absolute;
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;

                        &.home1{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .link{
                    position: relative;
                    ul{
                        top: 100%;
                        left: 0;
                        position: absolute;
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;

                        &.link1{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .dopdown{
                    position: relative;
                    ul{
                        top: 100%;
                        left: 0;
                        position: absolute;
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;

                        &.dopdown1{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .disabled{
                    position: relative;
                    ul{
                        top: 100%;
                        left: 0;
                        position: absolute;
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;

                        &.disabled1{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            input{
                display: none;
            }
            .aya{
                display: none;
            }

            .icon{
                position: relative;
                display: flex;
                width: 78%;
                justify-content: flex-end;
                .one{
                    height: 2px;
                    width: 7%;
                    background-color: black;

                    &.active1{
                        position: absolute;
                        top: 20%;
                        transform: rotate(45deg);
                        height: 2px;
                        width: 6%;
                        background-color: black;
                    }
                }
                .two{
                    top: 20%;
                    position: absolute;
                    height: 2px;
                    width: 7%;
                    background-color: black;
                    
                    &.active2{
                        display: none;
                    }
                }
                .three{
                    top: 41%;
                    position: absolute;
                    height: 2px;
                    width: 7%;
                    background-color: black;

                    &.active3{
                        position: absolute;
                        top: 20%;
                        transform: rotate(135deg);
                        height: 2px;
                        width: 6%;
                        background-color: black;
                    }
                }
            }
        }
    }
}